__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
data/processed/*
data/indexes/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/indexes/.gitkeep
mlruns/
mlartifacts/
mlflow.db
*.faiss
.pytest_cache/
.ruff_cache/
*.egg-info/
.DS_Store
